body {
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0, #d3cce3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

nav.navbar {
    background-color: #33971f;
    text-align: center;
}


nav.navbar a {
    text-align: center;
}

img{
    border: #33971f;
}
.formulario{
    padding: 10px;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #2aeba1, #3be7bc, #10a37e, #1cd11c);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #69f3dc, #26c79f, #14c498, #1cd11c);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }